<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Chakra+Petch:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Do+Hyeon&family=Kanit:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Play:wght@400;700&family=Prompt:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Russo+One&family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Polycode</title>
</head>
<body>
    <div class="container board">
        <div id="app">
            <header>
                <h1><a href="index.html">{{title}}</a></h1>
            </header>
            <main class="display--visual">
                <aside class="menu">
                    <ul>
                        <!-- <li v-for="content in contents"><a href="">{{content}}</a></li> -->
                        <li v-for="content in contents" @click="getSection">
                            {{content}}
                            <ul v-if="content.toLowerCase() == 'functions'" class="subcontents">
                                <li v-for="title in subContents.functions">{{title}}</li>
                            </ul>
                        </li>
                    </ul>
                </aside>
                <section>
                    <h3 class="instructions">Choose a section</h3>
                    <div class="languages">
                        <button v-for="language in languages" @click="getLanguage" class="lang">{{language.toUpperCase()}}</button>
                    </div>
                    <div class="details">
                        <div class="details--variables" v-if="chosenSection ==='Declare Variables'">
                            <p>Prefix : {{display.prefix}}</p>
                            <p>Name : {{display.name}}</p>
                            <p>Synthax : {{display.synthax}}</p>
                        </div>

                    </div>
                    <div class="content--display">
                        <p v-if="typeof(display) === 'string'">{{display}}</p>
                        <p v-for="example in display.example">{{example}}</p>
                        <p v-for="content in display.content">{{content}}</p>
                    </div>
                </section>
                <div class="setup">
                    <button @click="changeView">Change display</button>
                </div>
            </main>
            <footer>
                <ul>
                    <li><a href="about.html">About</a></li>
                </ul>
            </footer>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>
</html>